<button (click)="onClickPlus()" class="bg-green-500">Plus</button>
<button (click)="onClickMinus()" class="bg-red-500">Minus</button>

<app-counter-display-component [count]="counter" />

<div class="bg-amber-950 text-white p-5">
  <app-currency-converter />
</div>

<app-search-bar (searchEvent)="onSearchUpdated($event)" />

<div class="flex flex-wrap gap-2">
  @if (listItems().length === 0){
  <p>Loading...</p>
  } @for (item of filteredProducts(); track item.id) {
  <app-product-component
    [id]="item.id"
    [title]="item.title"
    [price]="item.price"
    [image]="item.image"
    [description]="item.description"
  />
  }
</div>

<app-bought-list />
